<div id="<%= dom_id ticket %>">
  <tr>
    <th scope="row"><%= ticket.id %></th>
    <td><%= ticket.title %></td>
    <td><%= ticket.price %></td>
    <td><%= link_to "Show this ticket", ticket, class:'btn btn-primary' %></td>
  </tr>
</div>
